<div>
  <% @articles.each do |article| %>
    <p><%= link_to article.title, article_path(article) %></p>
    <% if @article.image.attached? %>
      <img src="<%= (url_for(@article.image)) %>">
    <% end %>
    <p>Author: <%= article.user.first_name %> <%= article.user.last_name %></p>
  <% end %>
</div>