<h1>News</h1>
<div>
  <% @articles.each do |article| %>
    <p><%= link_to article.title, article_path(article) %></p>
    <p>Author: <%= article.user.first_name %> <%= article.user.last_name %></p>
  <% end %>
</div>